<nav>
    <div class="site-title">
      <a href="/"><h1>NoteFlex</h1></a>
      <p>A Site Made to Remember Things</p>
    </div>
    <ul>
      <li><a href="/"><b>NOTES</b></li>
      <li><a href="/about"><b>ABOUT</b></a></li>
      <li><a href="/blogs/create"><b>NEW NOTES</b></a></li>
    </ul>
  </nav>
  